*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.contactus{
    background-color: rgb(1, 1, 42);
    color: white;
    padding: 56px;
    font-size: 19px;
}
.contactMe{
    display: flex;
    justify-content: center;
    width: 1050px;
    margin-top: 5%;
    background-color: #fff;
    margin-left: 5%;

}
.contactMe img{
    width: 65%;
}
.contactText{
    padding: 22px;
    width: 600px;
}
.contactText p{
    margin-top: 12px;
}
.form{
    text-align: center;
    margin-top: 5%;
    padding: 22px;
}
.form input{
    width: 300px;
    padding: 5px;
    height: 27px;
    margin-top: 11px;
}
.form button{
    width: 300px;
    height: 36px;
    background-color: rgb(2, 54, 54);
    color: white;
    font-size: 22px;
    border: none;
    margin-top: 22px;
    
}